In [1]:
import pandas as pd
import json

In [2]:
with open(r'C:\Users\Aakarsh Shukla\Downloads\data-analytics-project-for-beginners\t20_json_files\t20_json_files\t20_wc_match_results.json') as f :
    data = json.load(f)
df_match= pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [3]:
df_match.shape

(45, 7)

In [4]:
df_match.rename({'scorecard':'match_id'}, axis=1, inplace= True)

In [5]:
df_match.head(5)

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [6]:
match_ids_dict = {}
for index, row in df_match.iterrows():
   key1= row["team1"]+ 'Vs' +row["team2"]
   key2= row["team2"] + 'Vs' + row["team1"]
   match_ids_dict[key1] = row["match_id"]
match_ids_dict

{'NamibiaVsSri Lanka': 'T20I # 1823',
 'NetherlandsVsU.A.E.': 'T20I # 1825',
 'ScotlandVsWest Indies': 'T20I # 1826',
 'IrelandVsZimbabwe': 'T20I # 1828',
 'NamibiaVsNetherlands': 'T20I # 1830',
 'Sri LankaVsU.A.E.': 'T20I # 1832',
 'IrelandVsScotland': 'T20I # 1833',
 'West IndiesVsZimbabwe': 'T20I # 1834',
 'NetherlandsVsSri Lanka': 'T20I # 1835',
 'NamibiaVsU.A.E.': 'T20I # 1836',
 'IrelandVsWest Indies': 'T20I # 1837',
 'ScotlandVsZimbabwe': 'T20I # 1838',
 'AustraliaVsNew Zealand': 'T20I # 1839',
 'AfghanistanVsEngland': 'T20I # 1840',
 'IrelandVsSri Lanka': 'T20I # 1841',
 'IndiaVsPakistan': 'T20I # 1842',
 'BangladeshVsNetherlands': 'T20I # 1843',
 'South AfricaVsZimbabwe': 'T20I # 1844',
 'AustraliaVsSri Lanka': 'T20I # 1845',
 'EnglandVsIreland': 'T20I # 1846',
 'AfghanistanVsNew Zealand': 'T20I # 1846a',
 'BangladeshVsSouth Africa': 'T20I # 1847',
 'IndiaVsNetherlands': 'T20I # 1848',
 'PakistanVsZimbabwe': 'T20I # 1849',
 'AfghanistanVsIreland': 'T20I # 1849a',
 'AustraliaVsEngland': 'T20I # 1849b',
 'New ZealandVsSri Lanka': 'T20I # 1850',
 'BangladeshVsZimbabwe': 'T20I # 1851',
 'NetherlandsVsPakistan': 'T20I # 1852',
 'IndiaVsSouth Africa': 'T20I # 1853',
 'AustraliaVsIreland': 'T20I # 1855',
 'AfghanistanVsSri Lanka': 'T20I # 1856',
 'EnglandVsNew Zealand': 'T20I # 1858',
 'NetherlandsVsZimbabwe': 'T20I # 1859',
 'BangladeshVsIndia': 'T20I # 1860',
 'PakistanVsSouth Africa': 'T20I # 1861',
 'IrelandVsNew Zealand': 'T20I # 1862',
 'AustraliaVsAfghanistan': 'T20I # 1864',
 'EnglandVsSri Lanka': 'T20I # 1867',
 'NetherlandsVsSouth Africa': 'T20I # 1871',
 'BangladeshVsPakistan': 'T20I # 1872',
 'IndiaVsZimbabwe': 'T20I # 1873',
 'New ZealandVsPakistan': 'T20I # 1877',
 'EnglandVsIndia': 'T20I # 1878',
 'EnglandVsPakistan': 'T20I # 1879'}

In [7]:

{ 
    "Namibia Vs Sri Lanka": " T20I # 1823",
    "Sri Lanka Vs Namibia" : "T20I # 1823 ",
    " Netherlands Vs U.A.E": "T20I #1825",
    "U.A.E Vs Netherlands": " T20I # 1825"
}

{'Namibia Vs Sri Lanka': ' T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823 ',
 ' Netherlands Vs U.A.E': 'T20I #1825',
 'U.A.E Vs Netherlands': ' T20I # 1825'}

**batting summary**

In [8]:
with open(r"C:\Users\Aakarsh Shukla\Downloads\data-analytics-project-for-beginners\t20_json_files\t20_json_files\t20_wc_batting_summary.json") as f:
    data= json.load(f)
    all_records =[]
    for rec in data:
        all_records.extend(rec['battingSummary'])
        
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09

In [9]:
df_batting["out/not_out"] = df_batting.dismissal.apply(lambda x: " out"if len(x) > 0 else "not_out")
df_batting.columns = df_batting.columns.str.strip()
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00,out

In [10]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out

In [11]:
# Re-typing the line
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName']=df_batting["batsmanName"].apply(lambda x: x.replace('\xa0', ''))
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out